body{
    margin: 0px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

/****** Header ******/
.top{
    height: 75px;
    width: cover; 
    background-color: #5b121c;
    align-items: center;
    margin-top: 30px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}

/****** Navbar *******/

ul {
    font-family: 'Courgette', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5b121c;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

li a:hover:not(.active) {
    background-color: #701724;
}

.active {
    background-color: #daa520;
}

/****** Inicio ******/

.bg_inicio{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),url("img/bg_inicio.jpg");
      background-size: cover;
      background-position: center center;
      position: relative;
      top: 0;
      bottom: 0;
      height: 100vh;
      z-index: -10;
}

.content {
    padding: 250px;
    padding-right: 550px;
    padding-left: 200px;
    text-align: left;
    align-items: center;
    color: white;
    text-align: justify;
}

.porfilePicture {
    height: 300px;
    width: 300px;
    float: right;
    margin-top: 250px;
    margin-right: 200px;
    border-radius: 25px;
}

/***** Grid ******/

.she{
    height: 1000px;
    width: cover;
}

.he{
    height: 1000px;
    width: cover;
    background-color: #701724;
}

.content_white{
    padding: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left;
    align-items: center;
    color: black;
    text-align: justify;
}

.content_black{
    padding: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left;
    align-items: center;
    color: white;
    text-align: justify;
}

.grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gridIMG {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
  }
  
  .gridIMG:nth-of-type(2n) {
    margin-right: 0;
  }
  
  @media screen and (min-width: 50em) {
    .gridIMG {
      width: calc(25% - 6px);
    }
    
    .gridIMG:nth-of-type(2n) {
      margin-right: 8px;
    }
    
    .gridIMG:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  
  .gridIMG:hover img {
    transform: scale(1.15);
  }
  
  figure {
    margin: 0;
    overflow: auto;
  }
  
  figcaption {
    margin-top: 15px;
    text-align: justify;
  }
  
  .foto {
    border: none;
    max-width: 200px;
    height: 150px;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
    margin-left: 32px;
  }

  /****** Contacto ******/
  .encuesta{
    float:left;
    margin-top: 30px;
    margin-left: 150px;
  }

  .content_contact{
    padding: 150px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: left;
    align-items: center;
    color: white;
    text-align: justify;
}

.datos{
    float: right;
    color: white;
    margin-right: 250px;
    margin-top: 50px;
}
